$background-global-color: #FFF;
$font-global-color: #242424;
$font-logo-headers--color: #F6A6BF;
$font-lapka-color: #FFF;
$font-p-color: #848484;
$background-bookingform-important-color: #FFFEF1;
$numbers-video-color: #E36F96;
$background-fears-footer-color: #FAF7F5;
$font-copy-color: #28AFC9;