/*Шрифты*/

/*Header*/

@mixin title {
	font-family: 'Montserrat', sans-serif ;
	font-size: 1rem;
	font-weight: 500;
	line-height: normal;
}

@mixin contact {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8125rem;
	font-weight: 600;
	line-height: 100%;
}

@mixin normal {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	line-height: 140%;
}

@mixin info {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9375rem;
	font-weight: 600;
	line-height: normal;
}

@mixin info1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8125rem;
	font-weight: 500;
	line-height: normal;
}

@mixin info2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: normal;
}

@mixin info3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: normal;
}

@mixin about {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 97%;
}

@mixin banner1Mob {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5625rem;
	font-weight: 600;
	line-height: 140%;
}

@mixin banner2Mob {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 150%;
}

/*Main*/
@mixin look {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875rem;
	line-height: 140%;

}

@mixin look2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8125rem;
	font-weight: 600;
	line-height: 100%;
}

@mixin normal1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	line-height: 140%;
}

/*Footer*/
@mixin caption {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 140%;
}

@mixin adress {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.125rem;
	line-height: 140%;
}

@mixin copy {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: normal;
}