.header {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    justify-content:start;
    align-content: center;
    padding-bottom: 3.75rem;
}
.header__caption {
    @include title;
	color: $font-logo-headers--color;
    text-align: center;
}

.contacts {
    text-align: center;
    background: url(./../../img/bg-clouds.png);
    background-position: right;
    background-repeat: no-repeat;
}
.contacts__phone {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}
.contacts__phonenumber {
    @include contact;
    text-decoration: none;
    color: $font-global-color;
}
.contacts__location {
    margin-bottom: 1.625rem;
}
.contacts__adress {
    @include contact;
    text-decoration: none;
    color: $font-global-color;
}
.contacts__worktime {
    margin-bottom: 1.875rem;
}
.contacts__daynight {
    @include contact;
    color: $font-global-color;
}
.contacts__instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    @include normal;
    width: 13.75rem;
    height: 3.75rem;
    border-radius: 6.25rem;
    background-color: $font-logo-headers--color;
    border: none;
    text-align: center;
}
.contacts__instagram_text {
    color: $background-global-color;
    text-decoration: none;
}
.header__title {
    @include banner1Mob;
    color: $font-global-color;
    margin-top: 3.125rem;
    margin-bottom: 1.875rem ;
}
.header__item,.header__item1  {
    @include banner2Mob;
    color: $font-global-color;
    margin-bottom: 1.25rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    @include normal;
    color: $font-global-color;
    list-style-image: url(./../../img/icon-heart.svg);
    margin-left: 0.625rem;
}
.list_item1 {
    height:4.125rem;
    width: 15.625rem;
    margin-left: 1.875rem;
    margin-right: 0.625rem;
}
.list_item2 {
    height: 2.75rem;
    width: 10.6875rem;
    margin-left: 1.875rem;
}
.list_item3 {
    width: 12.1875rem;
    height: 2.75rem;
    margin-left: 1.875rem;
}
.menu {
    display: grid;
    height: 18.625rem;
    width: 18.75rem;
    background: url(./../../img/bg-lapka.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1.875rem;
}
.menu__number {
    @include info;
    color: $font-lapka-color;
    text-decoration: none;
    transform: rotate(-28.858deg);
    grid-area: 5/1/6/2;
    width: 4.1325rem;
    height: 1.1798rem;
    margin-left: 0.295rem;
}
.menu__price {
    @include info2;
    color: $font-lapka-color;
    text-decoration: none;
    transform: rotate(-28.858deg);
    grid-area: 6/1/7/2;
    width: 3.001rem;
    height: 0.9831rem;
    margin-left: 1.3756rem;
}
.menu__request {
    @include info;
    color: $font-lapka-color;
    text-decoration: none;
    transform: rotate(-12.626deg);
    grid-area: 2/1/3/2;
    margin-left: 3.435rem;
    width: 3.64rem;
    height: 1.1795rem;
    align-items: end;
}
.menu__booking {
    @include info1;
    color: $font-lapka-color;
    text-decoration: none;
    transform: rotate(-14.711deg);
    grid-area: 3/1/4/2;
    width: 4.1826rem;
    height: 3rem;
    margin-left: 3.435rem;
}
.menu__video {
    @include info;
    color: $font-lapka-color;
    text-decoration: none;
    transform: rotate(0.334deg);
    grid-area: 2/1/3/2;
    width: 3.3956rem;
    height: 1.179rem;
    margin-left: 9.7475rem;
    align-items: end;
}
.menu__cctv {
    @include info1;
    color: $font-lapka-color;
    text-decoration: none;
    grid-area: 3/1/4/2;
    width: 3.952rem;
    height: 2rem;
    margin-left: 9.435rem;
    transform: rotate(0.334deg);
    text-align: center;
}
.menu__pay {
    @include info3;
    color: $font-lapka-color;
    text-decoration: none;
    grid-area: 4/1/5/2;
    transform: rotate(13.294deg);
    text-align: center;
    width: 4.5rem;
    height: 1.0625rem;
    margin-left: 13.7475rem;
}
.menu__about {
    @include about;
    color: $font-lapka-color;
    text-decoration: none;
    grid-area: 6/1/9/2;
    text-align: center;
    transform: rotate(-13.857deg);
    width: 5.6089rem;
    height: 3.833rem;
    margin-left: 7.2475rem;
}
.booking-form1 {
    display: none;
}

@media screen and (min-width: 1600px) {
    
    .booking-form1  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.875rem;
    }
    .booking-form1-input {
        @include normal;
        display: flex;
        width: 14,375rem;
        height: 2.25rem;
        padding-top: 0,0625rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.75rem;
        flex-shrink: 0;
        color: $font-p-color;
        border: 0;
        border-bottom: 0.0625rem solid #242424;
    }
    .booking-button1 {
        @include adress;
        background-color: $font-logo-headers--color;
        color: $font-lapka-color;
        width: 13.75rem;
        height: 3.75rem;
        border-radius: 6.25rem;
        border: none;
    }
    .header {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 75rem;
    }
    .header__desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
        height: 5.6875rem;
        width: 75rem;
    }
    .header__caption {
        padding-top: 1.875rem;
    }
    .contacts {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        padding-top: 1.875rem;
        justify-content: space-around;
    }
    .header__title {
        @include titledesktop;
        width: 36.9375rem;
        margin-bottom: 1.25rem ;
    }
    .header__item1 {
        display: none;
    }
    .menu {
        width: 23.8125rem;
        height: 23.6875rem;
    }
    .menu__number {
        font-size: 1.25rem;
    }
    .menu__price {
        font-size: 1rem;
    }
    .menu__request {
        font-size: 1.25rem;
    }
    .menu__booking {
        font-size: 0.5625rem;
    }
    .menu__video {
        font-size: 1.25rem;
    }
    .menu__cctv {
        font-size: 0.625rem;
    }
    .menu__pay {
        font-size: 1.0625rem;
    }
    .menu__about {
        font-size: 2.5rem;
    }
    .list {
        display: flex;
        flex-direction: row;
        gap: 4.375rem;
    }
    .header__desktoptitle {
        display: flex;
        flex-direction: column;
        flex-grow: 1; 
        height: 31.875rem;
        background: url(./../../img/cat-bg.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
    }
  } 