.header {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    width: 18.75rem;
    height: 74.5rem;
    justify-content:start;
    align-content: center;
}
.header__caption {
    @include title;
	color: $font-logo-headers--color;
    text-align: center;
}

.contacts {
    text-align: center;
    background: url(./../../img/bg-clouds.png);
    background-position: right;
    background-repeat: no-repeat;

}
.contacts__phone {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}
.contacts__phonenumber {
    @include contact;
    text-decoration: none;
    color: $font-global-color;
}
.contacts__location {
    margin-bottom: 1.625rem;
}
.contacts__adress {
    @include contact;
    text-decoration: none;
    color: $font-global-color;
    height: 1.625rem;
    width: 9.375rem;
}
.contacts__worktime {
    margin-bottom: 1.875rem;
}
.contacts__daynight {
    @include contact;
    color: $font-global-color;
}
.contacts__instagram {
    @include normal;
    width: 13.75rem;
    height: 3.75rem;
    border-radius: 6.25rem;
    background-color: $font-logo-headers--color;
    border: none;
    text-align: center;
}
.contacts__instagram_text {
    color: $background-global-color;
    text-decoration: none;
}
.header__title {
    @include banner1Mob;
    color: $font-global-color;
    height: 4.375rem;
    width: 18.75rem;
    margin-top: 3.125rem;
    margin-bottom: 1.875rem ;
}
.header__item {
    @include banner2Mob;
    color: $font-global-color;
    margin-bottom: 1.25rem;
}
.list {
    @include normal;
    color: $font-global-color;
    list-style-image: url(./../../img/icon-heart.svg);
    margin-left: 0.625rem;
}
.list_item1 {
    height:4.125rem;
    width: 15.625rem;
    margin-left: 1.875rem;
    margin-right: 0.625rem;
    margin-bottom: 1.25rem;
}
.list_item2 {
    height: 2.75rem;
    width: 10.6875rem;
    margin-left: 1.875rem;
    margin-bottom: 1.25rem;
}
.list_item3 {
    width: 12.1875rem;
    height: 2.75rem;
    margin-left: 1.875rem;
    margin-bottom: 5rem;
}
.menu {
    display: grid;
    height: 18.625rem;
    width: 18.75rem;
    background: url(./../../img/bg-lapka.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1.875rem;
}
.menu__link {
    @include info;
    color: $font-lapka-color;
    text-decoration: none;
}
.menu__link1 {
    @include info1;
    color: $font-lapka-color;
    text-decoration: none;
}
.menu__link2 {
    @include info2;
    color: $font-lapka-color;
    text-decoration: none;
}
.menu__pay {
    @include info3;
    color: $font-lapka-color;
    text-decoration: none;
}
.menu__about {
    @include about;
    color: $font-lapka-color;
    text-decoration: none;
}
